<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/user/Desktop/JAVA/SeleniumFramework"><classes><class name="thetestingacdemy.web.tests.LoginTest"><methods><include name="testVWOLogin_positive"/></methods></class></classes></test></suite>