<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.thetestingacdemy.utils.ScreenShotListener"> </listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="SeleniumFramework">
        <classes>
            <class name="thetestingacdemy.web.tests.LoginTest">
                <methods>
                    <include name="testVWOLogin_Negative"/>
                    <include name="testVWOLogin_Positive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>